include inc/_config.pug
|<?php 
|/**
|* @package WordPress 
|* Template Name: トップ
|*/
|get_header()
|?> 



div(id="home" data-barba="container" data-barba-namespace="home")


  #home-content(data-scroll-section="true")

    //-
    //- MV
    //-
    section#kv(data-scroll="true")
      h1#kv-name
        img(src=img_p + "home/kv-name-1.svg" alt="株式会社　匙（さじ）デザインカンパニー")

      #kv-logotype
        img(src=img_p + "common/logo-type-1.svg" alt="SAJI DESIGN COMPANY")
      #kv-logomark
        img(src=img_p + "common/logo-mark-1.svg" alt="匙")






    //-
    //- 
    //-
    - var name = 'intro'
    section.l-section(id=name)
      .l-container(class="home-" + name + "__container")
        .m-head-1
          h2.m-head-1__txt.anim.anim-zoomOutParent(data-scroll="true")
            span.ja.anim-zoomOutChild はじめに
            span.en.anim-zoomOutChild INTRODUCTION

        .m-copy-1
          .m-copy-1__gr-1
            p.m-copy-1__txt.anim.anim-zoomOutParent(data-scroll="true")
              span.t-display-m.anim.anim-zoomOutChild(data-scroll="true")
                span(data-ruby="しか")
                  |<ruby>然<rt>しか</rt></ruby>
                |るべき、
                br.m-sm
                span(data-ruby="さじかげん")
                  |<ruby>匙加減<rt>さじかげん</rt></ruby>
              span.en.anim.anim-zoomOutChild(data-scroll="true") WE NEED
                br
                |SAJI KAGEN,
                br
                |YOU NEED
                br
                |SAJI KAGEN
          p.t-body-m.m-copy-1__body.anim.anim-zoomOut(data-scroll="true")
            span.t-bold 拝啓　
            |美味しいと思う味覚、落ち着くと思う嗅覚、ステキと思う感覚は、十人十色。ありきたりなレシピ通りに調理しても、本当の「満腹感」は得られません。
            br
            |お客さまそれぞれの「ご注文」に応えるための準備は、素材と好みの仕入れから始まります。そして、お口に合うためのベストな材料・仕込み・調理法・味つけを選んでいきます。
          p.t-body-m.m-copy-1__body.anim.anim-zoomOut(data-scroll="true") 一見、料理の話のようですが、これはデザインや広告をつくる過程とまったく同じこと。素材を引き立てる「ひとさじ」は、塩味か甘味か酸味か渋味か旨味か。その選択肢をじっくり吟味し、老若男女の食事シーンに欠かせないスプーンの出番の如く、あらゆる業界の課題と本音を「すくい」、理想と現実を「まぜあわせ」、確かなカタチを「とどけ」ます。
          p.t-body-m.m-copy-1__body.anim.anim-zoomOut(data-scroll="true") 呼べば応える、問えば答える、頼み心地と使い勝手のいい集団として“存在”しながら、各々いい歳のとり方ができるクリエイターを目指して、匙デザインカンパニーは日々、精進努力を重ねます。
          p.t-body-m.m-copy-1__body.t-bold.t-a-r.anim(data-scroll="true") 敬具



    //-
    //- 事業領域
    //-
    - var name = 'service'
    section.l-section(id=name)

      .m-head-1
        h2.m-head-1__txt.anim.anim-zoomOutParent(data-scroll="true")
          span.ja.anim-zoomOutChild 事業領域
          span.en.anim-zoomOutChild SERVICE

      .service-fig__wrapper.anim.anim-zoomOutImg(data-scroll="true")
        .service-logo.anim.anim-zoomOut(data-scroll="true")
          img(src=img_p + "common/logo-mark-2.svg" alt="SAJI DESIGN COMPANY")
        picture(class= name + "-fig-1")
          source(srcset=img_p + "home/" + name + "-bg__md.jpg" media="(min-width: 769px)")
          source(srcset=img_p + "home/" + name + "-bg__sm.jpg" media="(max-width: 768px)")
          img(src=img_p + "home/" + name + "-bg__md.jpg" alt="事業領域")

      .l-container(class="home-" + name + "__container")
        .m-copy-1(class= name + "-copy-1")
          .m-copy-1__gr-1
            p.m-copy-1__txt.anim.anim-zoomOutParent(data-scroll="true")
              span.t-display-m.anim-zoomOutChild
                span
                  |あれや、
                  br.m-sm
                  |これや
              span.en.anim-zoomOutChild ARE &amp; KORE
          p.t-body-m.m-copy-1__body.anim.anim-zoomOut(data-scroll="true") 広告デザインの仕事は、想像以上に幅広く、奥深いもの。求められる“あれこれ”に、最適の具材とスパイスを選びながら、ひとくち目から“美味しい”を引き出す匙の「おしながき」です。


        ul#service-list.anim.anim-zoomOutParent(data-scroll="true")
          - var num = 1
          li.service-list__item.anim-zoomOutChild
            .ttl
              span.num.m-num-1 0#{num++}
              span.ja Web領域
            .content
              p.t-body-s.body コーポレートサイト／リクルートサイト／ブランドサイト／ランディングページ／サーバー・ドメイン管理／Web広告運用・管理／アクセス解析・効果測定など

          li.service-list__item.anim-zoomOutChild
            .ttl
              span.num.m-num-1 0#{num++}
              span.ja グラフィック領域
            .content
              p.t-body-s.body ポスター／チラシ／名刺／ロゴ／パンフレット／看板／封筒／グッズ／ブース／パッケージ／アパレル／リーフレット／イラスト／サムネイル／御朱印帳／お守り／絵馬など

          li.service-list__item.anim-zoomOutChild
            .ttl
              span.num.m-num-1 0#{num++}
              span.ja ライティング領域
            .content
              p.t-body-s.body 原稿作成（キャッチコピー・ボディコピー・テロップ）／校正・校閲／タグライン策定／ブログ執筆代行／SNS運用代行／インタビュー企画・実施／ヒアリングシート作成など

          li.service-list__item.anim-zoomOutChild
            .ttl
              span.num.m-num-1 0#{num++}
              span.ja 写真・動画領域
            .content
              p.t-body-s.body 写真撮影（ロケ・スタジオ）／レタッチ／データ選定／動画撮影／動画編集（Web用・YouTube用・SNS用）／ナレーション／撮影ロケの企画・調整／香盤表作成など

          li.service-list__item.anim-zoomOutChild
            .ttl
              span.num.m-num-1 0#{num++}
              span.ja ブランディング領域
            .content
              p.t-body-s.body 広告ブランディング／広報支援／商品名・サービス名の策定／企業・団体のクリエイティブコンサルティング／連携業者の選定・調整／企業・団体・学生向け出張授業など



    //-
    //- 制作実績
    //-
    - var name = 'works'
    section.l-section(id=name)
      .l-container(class="home-" + name + "__container")
        .m-head-1
          h2.m-head-1__txt.anim.anim-zoomOutParent(data-scroll="true")
            span.ja.anim-zoomOutChild 制作実績
            span.en.anim-zoomOutChild WORKS

        .m-copy-1(class= name + "-copy-1")
          .m-copy-1__gr-1
            p.m-copy-1__txt.anim.anim-zoomOutParent(data-scroll="true")
              span.t-display-m.anim-zoomOutChild
                span(data-ruby="もち")
                  |<ruby>餅<rt>もち</rt></ruby>
                |は、
                span(data-ruby="もちや")
                  |<ruby>餅屋<rt>もちや</rt></ruby>
              span.en.anim-zoomOutChild MOCHI  SHOULD
                br
                |BE MADE BY
                br
                |MOCHI MAKERS
          p.t-body-m.m-copy-1__body.anim.anim-zoomOut(data-scroll="true") 出逢いから対話と試行錯誤を経て、世に解き放った実績の数々をご紹介します。“餅は餅屋”の掛け算でじっくりとつくりあげた、オススメの「逸品」を思うがままに並べています。


      ul#works-list.m-works-list-1.anim-zoomOutParent(data-scroll="true")
        :php
          $args = array(
            'post_type' => 'works',
            'posts_per_page' => 6,
            'orderby' => 'date',
            'order' => 'DESC',
            /*
            'tax_query' => array(
              array(
                'taxonomy' => 'works_cat',
                'field' => 'slug',
                'terms' => 'yodoyabashi',
              ),
            ),
            */
          );
          $myposts = get_posts( $args );
          query_posts($args);

          while (have_posts() ) :
            the_post();
            $post = get_post();
            $post_id = $post->ID;
            $url = get_permalink($post_id);
            $client = SCF::get( 'client', $post_id );
            $work = SCF::get( 'work', $post_id );
            $taxonomy = 'works_cat';
            $terms = get_the_terms($post_id,$taxonomy);
            $eycatch = get_the_post_thumbnail_url($post_id);

        li.works-list__item.m-works-list-1__item.anim-zoomOutChild
          a.works-list__link.m-works-list-1__link(href="<?php echo $url; ?>")
            h3.content
                .content-inner
                  span.work
                    |<?php echo $work; ?>
                  span.client
                    |<?php echo $client; ?>
            .cat
              :php
                //$termsの中身があるかどうかをチェック
                if( $terms ):
                  foreach( $terms as $term ):
                    echo '<span class="cat-item">#'.$term->name.'</span>';
                  endforeach;

              :php
                endif;
          .works-list__img.m-works-list-1__img
            img(src="<?php echo $eycatch; ?>" alt="<?php the_title(); ?>")
        :php
          endwhile;

      a.m-btn-1(href="<?php echo home_url(); ?>/works/") 制作実績一覧を見る




    //-
    //- 寺社仏閣クリエイティブ
    //-
    - var name = 'templeCreative'
    section.l-section(id=name)

      .m-head-1(class= name + "-head-1")
        h2.m-head-1__txt.anim.anim-zoomOutParent(data-scroll="true")
          span.ja.anim-zoomOutChild 寺社仏閣クリエイティブ
          span.en.anim-zoomOutChild TEMPLE CREATIVE

      .templeCreative-fig__wrapper.anim.anim-zoomOutImg(data-scroll="true")
        picture(class= name + "-fig-1")
          source(srcset=img_p + "home/templecreative-bg__md.jpg" media="(min-width: 769px)")
          source(srcset=img_p + "home/templecreative-bg__sm.jpg" media="(max-width: 768px)")
          img(src=img_p + "home/templecreative-bg__md.jpg" alt="寺社仏閣クリエイティブ" loading="lazy")


      .l-container(class="home-" + name + "__container")
        .m-copy-1(class= name + "-copy-1")
          .m-copy-1__gr-1
            p.m-copy-1__txt.anim.anim-zoomOutParent(data-scroll="true")
              span.t-display-s.anim-zoomOutChild 伝統文化のポテンシャルを
                br
                |〝期待〟と〝価値〟に変換する
              span.en.anim-zoomOutChild CONVERTING THE POTENTIAL
                br
                |OF TRADITIONAL CULTURE
                br
                |INTO EXPECTATION AND VALUE


        .l-content
          .l-content__gr-1.anim.anim-zoomOut(data-scroll="true")
            h3(class= name + "-ttl") 総本山／大本山／本山／
              br
              |教区／全国の寺院・神社／
              br
              |包括法人／青年会・婦人会など
              br
              |各種団体の教化活動を支援する
              br
              |広告デザイン企画・制作
          .l-content__gr-2.anim.anim-zoomOutParent(data-scroll="true")
            p.t-body-s.anim-zoomOutChild(class= name + "-body") 古の頃から「憩い・集い・祈りの場」であった寺社仏閣の存在は、さまざまなエンターテインメントが発達した現代において、単なる「昔ながらの建物」や訪れてみたい「観光地のひとつ」としか見られていないかもしれません。
            p.t-body-s.anim-zoomOutChild(class= name + "-body")
              span.t-bold 無宗教・離檀・墓じまいなどが流行り言葉となった「逆境」にあっても、寺院や神社には揺るぎない「伝統文化」が根づき、それを必要とする人々、新たな取り組みに期待する人々がかならず存在します。
                br
                |これまでの「価値観」や「角度」をほんの少しだけ変えれば、人々の興味・関心をひく“なにか”を生み出すポテンシャルを見出すことができると信じています。
            p.t-body-s.anim-zoomOutChild(class= name + "-body") 今まで通りに危機感を抱く寺社仏閣の、今まで通りの取り組みや広報物も、目線と見栄えと打ち出し方を見つめ直せば、きっと新たな“ファンづくり”の糸口は見えてくるはずです。
              br
              |前向きに、ひたむきに、先を見据える寺社仏閣の教化活動の支えとなるクリエイティブを、私たちならではの「仕掛け」と「観点」と「匙加減」で創りだします。


      #templeCreative-gallery

        .splide
          div(class="splide__track")
            ul(class="splide__list")
              | <?php 
              | for ($i = 0; $i < 12; $i++) {
              | ?>
              li(class="splide__slide")
                .templeCreativeSlide-card(data-index="<?php echo $i; ?>")
                  .templeCreativeSlide-card__img
                    img(src="<?php echo get_template_directory_uri(); ?>/images/home/gallery-1/slide-<?php echo $i + 1; ?>.jpg" alt="寺社仏閣クリエイティブギャラリー")

              | <?php } ?>



      .l-container
        ul#templeCreative-list.anim.anim-zoomOutParent(data-scroll="true")
          li.templeCreative-list__item.anim-zoomOutChild
            span.ttl
              span.m-num-1.num 01
              span.ja 業界ならではの「わきまえ」を心得たディレクション＆デザイン
            p.t-body-s.body 寺院・神社に出入りする際の
              span.t-bold マナーや撮影時の注意点、原稿作成やデザイン制作時における暗黙の了解や必須事項
              |などを予め心得ています。どんな案件でも一貫してお任せいただける「組織力」と「気遣い」が私たちの強みです。

          li.templeCreative-list__item.anim-zoomOutChild
            span.ttl
              span.m-num-1.num 02
              span.ja 専門用語や宗派それぞれの特徴に対する「理解度」の高さ
            p.t-body-s.body 仏教や神道の世界で用いられる
              span.t-bold 基本的な用語を理解
              |し、伝統的な宗派の特徴を把握しており、
              span.t-bold 打ち合わせや撮影ロケ時の対話や制作物への意図の反映などがスムーズ
              |です。スタートから完成までの「安心感」も強みのひとつです。

          li.templeCreative-list__item.anim-zoomOutChild
            span.ttl
              span.m-num-1.num 03
              span.ja 一般目線を大切にしながら提案する今までにない「アプローチ」
            p.t-body-s.body キャッチコピー、デザイン、写真・動画などのすべてにおいて、
              span.t-bold 制作時に意識するのは「一般目線」です
              |。寺社仏閣の魅力や親近感がより広く伝わるための「仕掛け」を散りばめ、過去の例にとらわれない取り組みをサポートします。



    //-
    //- 会社概要
    //-
    - var name = 'company'
    section.l-section(id=name)

      .m-head-1(class= name + "-head-1")
        h2.m-head-1__txt.anim.anim-zoomOutParent(data-scroll="true")
          span.ja.anim-zoomOutChild 会社情報
          span.en.anim-zoomOutChild COMPANY

      .company-fig__wrapper
        .company-logo.anim.anim-zoomOut(data-scroll="true")
          img(src=img_p + "common/logo-horizontal-1.svg" alt="SAJI DESIGN COMPANY")
        picture.anim.anim-zoomOutImg(class= name + "-fig-1" data-scroll="true")
          source(srcset=img_p + "home/company-bg__md.jpg" media="(min-width: 769px)")
          source(srcset=img_p + "home/company-bg__sm.jpg" media="(max-width: 768px)")
          img(src=img_p + "home/company-bg__md.jpg" alt="寺社仏閣クリエイティブ")

        ul.member.anim.anim-zoomOutParent(data-scroll="true")
          li.member-item.anim-zoomOutChild
            span.member-name 橋田耕介
              span.num ※1
            ul.role
              li.role-item 代表取締役
              li.role-item コピーライター
              li.role-item クリエイティブ
                br
                |ディレクター
          li.member-item.anim-zoomOutChild
            span.member-name 日髙政博
              span.num ※2
            ul.role
              li.role-item 取締役
              li.role-item フォトグラファー
              li.role-item ビデオグラファー
          li.member-item.anim-zoomOutChild
            span.member-name 飯澤雄司
              span.num ※3
            ul.role
              li.role-item 取締役
              li.role-item アートディレクター
              li.role-item デザイナー



      .l-container(class="home-" + name + "__container")
        .m-copy-1(class= name + "-copy-1")
          .m-copy-1__gr-1
            p.m-copy-1__txt.anim.anim-zoomOutParent(data-scroll="true")
              span.t-display-s.anim-zoomOutChild すくう、
                br.m-sm
                |まぜる、
                br.m-sm
                |とどける
              span.en SUKUU
                br
                |MAZERU
                br
                |TODOKERU
          p.t-body-m.m-copy-1__body.anim.anim-zoomOut(data-scroll="true") ㈱匙デザインカンパニーは2023年11月9日、コピーライター／デザイナー／カメラマンで立ち上げた大阪の広告デザイン制作会社です。
          p.t-body-m.m-copy-1__body.anim.anim-zoomOut(data-scroll="true")
            span.t-bold それぞれの知見と性格の掛け算によって、あらゆる業界・業種、あらゆる要望・役割の企画化・言語化・可視化・実装化を果たします。
          p.t-body-m.m-copy-1__body.anim.anim-zoomOut(data-scroll="true") どんなオファーにもちょうどいい距離感、頼み心地のいい温度感、そして「然るべき匙加減」で、無から有を生みだすクリエイティブをお届けします。



      section#overview
        .overview-container.l-container
          h3.overview-ttl.anim.anim-zoomOutParent(data-scroll="true")
            span.ja.anim-zoomOutChild 会社概要
            span.en.anim-zoomOutChild OVERVIEW

          dl.overview-list.anim.anim-zoomOutParent(data-scroll="true")
            dt.anim-zoomOutChild 会社名
            dd.anim-zoomOutChild 株式会社 匙デザインカンパニー
              br.m-sm
              span.js-overlay-activate.engi ［
                span.line 社名縁起を見る
                |］
            dt.anim-zoomOutChild 設立日
            dd.anim-zoomOutChild 2023年11月9日
            dt.anim-zoomOutChild 所在地
            dd.anim-zoomOutChild 〒538-0044 大阪市鶴見区放出東3-21-40-205
              br
              a.googlemap(href="https://maps.app.goo.gl/B9A6Ex3drghZ6VP38" target="_blank")
                span.line Googleマップで見る
            dt.anim-zoomOutChild 役員
            dd.anim-zoomOutChild 代表取締役：橋田耕介
              br
              |取締役：飯澤雄司
              br
              |取締役：日髙政博
            dt.anim-zoomOutChild 資本金
            dd.anim-zoomOutChild 1,080,000円
            dt.anim-zoomOutChild 決算月
            dd.anim-zoomOutChild 9月
            dt.anim-zoomOutChild 取引銀行
            dd.anim-zoomOutChild 大阪信用金庫はなてん支店
              br
              |GMOあおぞらネット銀行
            dt.anim-zoomOutChild 連絡先
            dd.anim-zoomOutChild フォームでのお問い合わせは
              a.foform(href="/contact")
                span.line こちら



      section#topics
        .topics-container.l-container
          h3.topics-ttl.anim.anim-zoomOutParent(data-scroll="true")
            span.ja.anim-zoomOutChild お知らせ
            span.en.anim-zoomOutChild TOPICS

          ul.topics-list.anim.anim-zoomOutParent(data-scroll="true")
            :php
              $args = array(
                'post_type' => 'topics',
                'posts_per_page' => 3,
                'orderby' => 'date',
                'order' => 'DESC',
                /*
                'tax_query' => array(
                  array(
                    'taxonomy' => 'topics_cat',
                    'field' => 'slug',
                    'terms' => 'yodoyabashi',
                  ),
                ),
                */
              );
              $myposts = get_posts( $args );
              query_posts($args);

              while (have_posts() ) :
                the_post();
                $post = get_post();
                $post_id = $post->ID;
                $url = get_permalink($post_id);
                $taxonomy = 'topics_cat';
                $terms = get_the_terms($post_id,$taxonomy);
                $ttl = get_the_title();

            li.topics-list__item.m-topics-list-1__item.anim-zoomOutChild
              a.topics-list__link.m-topics-list-1__link(href="<?php echo $url; ?>")
                span.date
                  //- 24/03/31のように表示
                  |<?php echo get_the_date('y/m/d'); ?>
                h3.ttl
                  |<?php echo $ttl; ?>

                .cat
                  :php
                    //$termsの中身があるかどうかをチェック
                    if( $terms ):
                      foreach( $terms as $term ):
                        echo '<span class="cat-item">#'.$term->name.'</span>';
                      endforeach;

                  :php
                    endif;

            :php
              endwhile;

        a.m-btn-1(href="<?php echo home_url(); ?>/topics/") もっと見る







|<?php get_footer(); ?>




